$color-primary: #3388FF;
$color-success: #57D92b;
$color-warning: #FFBF00;
$color-danger: #F64D46;
$color-info: #50bfff;
$color-secondary: #3388FF;
$color-white: #fff;
$color-dark-white: #FAFAFA;
$color-black: #000;
$color-base-black: #303640;
$color-light-black: #738399;
$color-extra-light-black: #99AECC;
$color-base-gray: #a6a6a6;
$color-light-gray: #DDDDDD;
$color-extra-light-gray: #F5F5F5;

$font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', 'Microsoft YaHei', sans-serif;
$font-size-base: 14px; // 正文信息
$font-size-secondary: 13px; // 辅助说明
$font-size-h2: 16px; // 正常标题
$font-size-h1: 20px; // 大标题
$line-height: 1.5; // 行高
$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
