$color-green: #29cc29; //主题色
$color-deep-green: #23B323; // 主题色hover
$color-font-black: #39414d; // 面包屑，标题，表头等字体色彩
$color-font-grey: #75839a; // 大部分字体色彩
$color-font-deep-grey: #576273; //大部分字体色彩hover
$color-placeholder-grey: #e5e5e5; //所有input，select 的placeholder字体色彩
$color-btn-grey: #999; //按钮字体色彩
$color-btn-border-grey: #ddd; //按钮边框原色

