.b-autocomplete {
  width: auto;
  height: 40px;
  float: left;
  margin: 20px 0px 20px 30px;

  &.productName {
    width: 280px;
  }
  &.ownerName {
    width: 200px;
  }
  &.levelName {
    width: 150px;
  }
  &.restTime {
    width: 150px;
  }

  .el-autocomplete {
    width: 100%;
  }
}
.el-autocomplete-suggestion__wrap {
  max-height: 240px;
}
.el-autocomplete-suggestion {
  box-shadow: 0 0 5px 0 #DDDDDD;
}
.el-autocomplete-suggestion__list {
  li {
    &:active {
      background-color: #29cc29 !important;
      color: #FFF !important;
    }
    &:hover {
      background-color: #FAFAFA ;
      color: #525666;
    }
  }
}
.el-input__icon.is-clickable:hover+.el-input__inner {
    border-color: #29cc29 !important;
}
