.w-box {
  background: $color-white;
  margin-top: 20px;

  .w-box__header {
    border-bottom: 1px solid $color-light-gray;
    color: $color-base-black;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    padding-left: 16px;
    position: relative;
  }
  .w-box__content {
    padding: 20px 16px;
  }
}
