@import './core/var';

.crumbs {
  color: #525666;
  line-height: 54px;

  >span {
    font-size: 0;

    a {
      color: inherit;
      font-size: 14px;
      text-decoration: none;
    }

    span {
      font-size: 14px;
      margin: 0 5px;
    }
  }
}
