.w-dialog-form {
  width: 390px;

  .el-dialog__body {
    padding-bottom: 0;
    padding-top: 24px;
  }

  .el-dialog__footer {
    padding-top: 0;
  }

  .el-checkbox {
    margin-right: 15px;

    & + .el-checkbox {
      margin-left: 0;
    }
  }
}
