.w-form {
  &__item {
    &__input,
    &__select {
      width: 320px;
    }

    &__upload {
      .el-upload {
        width: 320px;

        &-dragger {
          width: 100%;
        }
      }
      .el-upload__tip {
        line-height: 1;
        margin-top: 0;
        width: 320px;
      }
      .el-upload-list {
        width: 320px;

        &__item-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  &--modal {
    .w-form__item {
      &__input,
      &__select {
        width: 100%;
      }
    }
  }
}

// 小尺寸设备
@media (max-width: 768px) {
  .w-form {
    &__item {
      &__input,
      &__select {
        width: 100%;
      }

      &__upload {
        .el-upload {
          width: 100%;
        }
        .el-upload__tip {
          width: 100%;
        }
        .el-upload-list {
          width: 100%;
        }
      }
    }
  }
}
