.el-select-dropdown__wrap {
  max-height: 238px;
}
.el-select-dropdown {
  border: none;
}
.el-select-dropdown {
  box-shadow: 0 0 5px 0 #DDDDDD;
}
.el-autocomplete-suggestion__wrap, .el-pager li {
  border: none;
}
