.el-select-dropdown__wrap {
  max-height: 238px;
}
.el-select-dropdown {
  border: none;
}
.el-select-dropdown {
  box-shadow: 0 0 5px 0 #DDDDDD;
}
.el-autocomplete-suggestion__wrap, .el-pager li {
  border: none;
}
.el-select-dropdown.is-multiple
.el-select-dropdown__item.selected.hover, .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background: #FAFAFA;
}
.el-input__icon.el-icon-caret-top:hover+input.el-input__inner {
  border-color: #29cc29;
}
