.table {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  background: #fff;
  font-weight: 400;

  th {
    &>div {
      overflow: inherit !important;
    }
  }
  .green {
    color: #25c526;

    &+i {
      color: #25c526 !important;
    }
  }
}

.table-header {
  height: 80px;
}
.table-header-authority {
  height: 80px;
  line-height: 80px;
  margin-left: 20px;
  float: left;

  input {
    border: none;
    width: 87px;
    font-size: 16px;
    padding-right: 0px !important;
  }

  .el-input__icon{
    color: #525666 !important;

  }
}
.el-select-dropdown__list {
  width: 140px;

  li {
    padding: 8px 20px;
  }
}
.btn-green-mid {
  width: 90px;
  height: 40px;
  color: #fff;
  background: #29CC29;
  font-size: 14px;
  padding: 10px 17px;
  float: right;
  margin: 20px 30px 20px 0px;
  border-radius: 3px;
  cursor: pointer;
}
.el-table {
  border-color: #EAEAEA;
  border-left: none;

  &::after {
    width: 0px;
  }

  th {
    background-color: #FAFAFA;
    text-align: left;
    overflow: inherit !important;
  }
  td {
    border-color: #EAEAEA;
    height: 60px;
  }
  .cell {
    background: inherit;
    font-weight: 300;
    padding-left: 0px;
  }

  .el-table-column--selection {
    .cell {
      padding: 0 10px 0 30px;
    }
  }

  .el-checkbox__inner {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border-color: #75839A;

    &:hover,&:focus {
      border-color: #25c526;
    }

    &:after {
      height: 7px;
      left: 3px;
      width: 4px;
      top: 0px;
    }
  }
  .is-checked {

    .el-checkbox__inner {
      background-color: #25c526;
      border-color: #25c526;
    }
  }
  .b-table-load-select,.b-table-data-picker {
    position: relative;

    span {
      cursor: pointer;
    }

    &>i.fa {
      color: #525666;
      margin-left: 6px;
    }
  }
  .el-input__inner {
    height: 32px;
    border-color: #ddd;
    padding-left: 10px;
    font-weight: 300;

  }
}
.el-table__header-wrapper, .el-table__fixed-header-wrapper {
  overflow: visible;

  thead {
    div {
      background-color: inherit;
    }
  }
}
td.el-table_1_column_3,
td.el-table_1_column_4,
td.el-table_1_column_5 {
  .cell {
    color: #999;
  }
}
.table-header li {
    height: 80px;
    line-height: 80px;
    margin-left: 20px;
    float: left;
    cursor: pointer;
    color: #525666;
}

.table-footer {
  width: 100%;
  height: 70px;
  background: #FFF;

  ul {
    float: right;

    li {
      float: left;
      line-height: 70px;
    }

    a {
      color: #ccc;
      padding: 8px 15px;
    }

    input {
      width: 30px;
      height: 30px;
      text-indent: 9px;
      outline: none;
      color: #29CC29;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #ddd;

      & {
        -moz-appearance:textfield;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    span {
      margin-left: 10px;
      font-size: 14px;
      letter-spacing: 4px;
      color: #999;
    }
    .table-next {
      margin-right: 15px;
    }
    .table-next:hover, .table-prev:hover {
      a {
        color: #25c526;
      }
    }
  }
}

.table-header-authority {
  input {
    font-weight: 300;
  }
}
.el-select-dropdown {
  .el-select-dropdown__item {
    span {
      font-weight: 300;
    }
  }
}

.b-table-cell {
  color: #999999;

  span {
    color: #525666;
  }
}
