
// 重置级联选择器选择项后垂直位置出现偏差
.el-cascader {

  // large
  &.el-cascader--large .el-cascader__label {
    line-height: 48px;
  }

  // 正常尺寸
  .el-cascader__label {
    line-height: 40px;
  }

  // 小尺寸
  &.el-cascader--small .el-cascader__label {
    line-height: 32px;
  }

  // mini尺寸
  &.el-cascader--mini .el-cascader__label {
    line-height: 24px;
  }
}

// 修改级联选择器下拉框圆角
.el-cascader-menus {
  border-radius: 4px;
}
.el-cascader-menu {
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
