
// 修改圆角
.el-dialog {
  border-radius: 4px;
}

// 调整关闭按钮大小
.el-dialog__close {
  font-size: 12px;
}

// 调整标题文字粗细
.el-dialog__title {
  font-weight: 500;
}

// 调整内容文字颜色
.el-dialog__body {
  color: $color-light-black;
}
