
// 调整 message-box 弹出窗中关闭按钮大小
.el-message-box__close {
  font-size: 12px;
}

// 调整 message-box 标题名称颜色和文字的粗细
.el-message-box__title {
  color: $color-base-black;
  font-weight: 500;
}

// 调整 message-box 中 icon 的尺寸
.el-message-box__status {
  font-size: 32px !important;
}
