
// 修改自动补全下拉框边框颜色
.el-autocomplete-suggestion__wrap {
  border: 1px solid $color-light-gray;
}

.el-autocomplete-suggestion {

  // 更换下拉框字体颜色，并且将激活状态的颜色换成白色
  li {
    color: $color-light-black;
    &:active,
    &:active * {
      color: $color-white;
    }
  }

  // 自动补全下拉框中选项激活状态字体更改为白色
  .el-autocomplete-suggestion__list li:active,
  .el-autocomplete-suggestion__list li:active * {
    color: $color-white;
  }
}
