
// 重置时间选择器选项鼠标浮动上去背景色
.time-select .time-select-item:hover {
  background: $color-dark-white;
}
.el-time-spinner .el-time-spinner__item:not(.active):hover {
  background: $color-dark-white;
}

// 修改时间选择器圆角
.el-picker-panel,
.el-time-panel {
  border-radius: 4px;
}
