@font-face {
    font-family: 'element-icons';
    src: url('fonts/element-icons.woff?t=1472440741') format('woff'), /* chrome, firefox */
      url('fonts/element-icons.ttf?t=1472440741') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    font-weight: 400;
    font-style: normal;
}

[class^="el-icon-"], [class*=" el-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'element-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-icon-arrow-down:before { content: "\e600"; }
.el-icon-arrow-left:before { content: "\e601"; }
.el-icon-arrow-right:before { content: "\e602"; }
.el-icon-arrow-up:before { content: "\e603"; }
.el-icon-caret-bottom:before { content: "\e604"; }
.el-icon-caret-left:before { content: "\e605"; }
.el-icon-caret-right:before { content: "\e606"; }
.el-icon-caret-top:before { content: "\e607"; }
.el-icon-check:before { content: "\e608"; }
.el-icon-circle-check:before { content: "\e609"; }
.el-icon-circle-close:before { content: "\e60a"; }
.el-icon-circle-cross:before { content: "\e60b"; }
.el-icon-close:before { content: "\e60c"; }
.el-icon-upload:before { content: "\e60d"; }
.el-icon-d-arrow-left:before { content: "\e60e"; }
.el-icon-d-arrow-right:before { content: "\e60f"; }
.el-icon-d-caret:before { content: "\e610"; }
.el-icon-date:before { content: "\e611"; }
.el-icon-delete:before { content: "\e612"; }
.el-icon-document:before { content: "\e613"; }
.el-icon-edit:before { content: "\e614"; }
.el-icon-information:before { content: "\e615"; }
.el-icon-loading:before { content: "\e616"; }
.el-icon-menu:before { content: "\e617"; }
.el-icon-message:before { content: "\e618"; }
.el-icon-minus:before { content: "\e619"; }
.el-icon-more:before { content: "\e61a"; }
.el-icon-picture:before { content: "\e61b"; }
.el-icon-plus:before { content: "\e61c"; }
.el-icon-search:before { content: "\e61d"; }
.el-icon-setting:before { content: "\e61e"; }
.el-icon-share:before { content: "\e61f"; }
.el-icon-star-off:before { content: "\e620"; }
.el-icon-star-on:before { content: "\e621"; }
.el-icon-time:before { content: "\e622"; }
.el-icon-warning:before { content: "\e623"; }
.el-icon-delete2:before { content: "\e624"; }
.el-icon-upload2:before { content: "\e627"; }
.el-icon-view:before { content: "\e626"; }

.el-icon-loading {
  animation: rotating 1s linear infinite;
}

.el-icon--right {
  margin-left: 5px;
}
.el-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
:root { /* Transition [已修改]
  -------------------------- */ /* Colors [已修改]
  -------------------------- */ /* 暂时忽略 */ /* 暂时忽略 */ /* 暂时忽略 */ /* color(var(--color-base-black) s(26%) l(80%)); 暂时忽略 */ /* Link
  -------------------------- */ /* 暂时忽略 */ /* 暂时忽略 */ /* Border [已修改]
  -------------------------- */ /* Box-shadow [已修改]
  -------------------------- */ /* Fill [已修改]
  -------------------------- */ /* Font [已修改]
  -------------------------- */ /* Size [已修改]
  -------------------------- */ /* 暂时忽略 */ /* z-index [已修改]
  -------------------------- */ /* 暂时忽略 */ /* 暂时忽略 */ /* 暂时忽略 */ /* Disable base [已修改]
  -------------------------- */ /* Icon [已修改]
  -------------------------- */ /* Checkbox [已修改]
  -------------------------- */ /* Radio [已修改]
  -------------------------- */ /* Select [已修改]
  -------------------------- */ /* 暂时忽略 */ /* 暂时忽略 */ /* 暂时忽略 */ /* Alert [已修改]
  -------------------------- */ /* Message Box [已修改]
  -------------------------- */ /* Message [后续修改（关闭图标太大）]
  -------------------------- */ /* Notification [后续修改（关闭图标太大）]
  -------------------------- */ /* Input [已修改]
  -------------------------- */ /* 疑似废弃 */ /* 疑似废弃 */ /* Cascader [已修改]
  -------------------------- */ /* 暂时忽略 */ /* 暂时忽略 */ /* 暂时忽略 */ /* Group [暂时忽略]
  -------------------------- */ /* Tab [已修改]
  -------------------------- */ /* 暂时忽略 */ /* 暂时忽略 */ /* 疑似废弃 */ /* 暂时忽略 */ /* 暂时忽略 */ /* Button [已修改]
  -------------------------- */ /* 疑似废弃 */ /* 疑似废弃 */ /* 疑似废弃 */ /* Switch [已修改]
 -------------------------- */ /* Dialog [后续修改（关闭图标太大）]
 -------------------------- */ /* Table [已修改]
 -------------------------- */ /* Pagination [已修改]
 -------------------------- */ /* Popover [已修改]
 -------------------------- */ /* Tooltip [已修改]
  -------------------------- */ /* Tag [已修改]
  -------------------------- */ /* Dropdown [已修改]
  -------------------------- */ /* Badge [已修改]
  -------------------------- */ /* Card [已修改]
  --------------------------*/ /* Slider [已修改]
  --------------------------*/ /* Steps [已修改]
  --------------------------*/ /* 暂时忽略 */ /* Menu [暂时忽略]
  --------------------------*/ /* Rate [暂时忽略]
  --------------------------*/ /* DatePicker [暂时忽略]
  --------------------------*/ /* Loading
  --------------------------*/ /* Scrollbar
  --------------------------*/ /* Carousel [暂时忽略]
  --------------------------*/ /* Collapse [已修改]
  --------------------------*/
}