@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}

.el-radio-group{
    display: inline-block;
    font-size: 0;
    line-height: 1
}

.el-radio-group .el-radio{
    font-size: 14px
}
:root{
    /* Transition [已修改]
  -------------------------- */
    /* Colors [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* color(var(--color-base-black) s(26%) l(80%)); 暂时忽略 */
    /* Link
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* Border [已修改]
  -------------------------- */
    /* Box-shadow [已修改]
  -------------------------- */
    /* Fill [已修改]
  -------------------------- */
    /* Font [已修改]
  -------------------------- */
    /* Size [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* z-index [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* Disable base [已修改]
  -------------------------- */
    /* Icon [已修改]
  -------------------------- */
    /* Checkbox [已修改]
  -------------------------- */
    /* Radio [已修改]
  -------------------------- */
    /* Select [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* Alert [已修改]
  -------------------------- */
    /* Message Box [已修改]
  -------------------------- */
    /* Message [后续修改（关闭图标太大）]
  -------------------------- */
    /* Notification [后续修改（关闭图标太大）]
  -------------------------- */
    /* Input [已修改]
  -------------------------- */
    /* 疑似废弃 */
    /* 疑似废弃 */
    /* Cascader [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* Group [暂时忽略]
  -------------------------- */
    /* Tab [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* 疑似废弃 */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* Button [已修改]
  -------------------------- */
    /* 疑似废弃 */
    /* 疑似废弃 */
    /* 疑似废弃 */
    /* Switch [已修改]
 -------------------------- */
    /* Dialog [后续修改（关闭图标太大）]
 -------------------------- */
    /* Table [已修改]
 -------------------------- */
    /* Pagination [已修改]
 -------------------------- */
    /* Popover [已修改]
 -------------------------- */
    /* Tooltip [已修改]
  -------------------------- */
    /* Tag [已修改]
  -------------------------- */
    /* Dropdown [已修改]
  -------------------------- */
    /* Badge [已修改]
  -------------------------- */
    /* Card [已修改]
  --------------------------*/
    /* Slider [已修改]
  --------------------------*/
    /* Steps [已修改]
  --------------------------*/
    /* 暂时忽略 */
    /* Menu [暂时忽略]
  --------------------------*/
    /* Rate [暂时忽略]
  --------------------------*/
    /* DatePicker [暂时忽略]
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel [暂时忽略]
  --------------------------*/
    /* Collapse [已修改]
  --------------------------*/
}