@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}

.el-switch{
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    vertical-align: middle
}

.el-switch .label-fade-enter, .el-switch .label-fade-leave-active{
    opacity: 0
}

.el-switch.is-disabled .el-switch__core{
    border-color: #DDDDDD !important;
    background: #DDDDDD !important
}

.el-switch.is-disabled .el-switch__core span{
    background-color: #FAFAFA !important
}

.el-switch.is-disabled .el-switch__core ~ .el-switch__label *{
    color: #FAFAFA !important
}

.el-switch.is-disabled .el-switch__input:checked + .el-switch__core{
    border-color: #DDDDDD;
    background-color: #DDDDDD;
}

.el-switch.is-disabled{}

.el-switch.is-disabled .el-switch__core, .el-switch.is-disabled .el-switch__label{
    cursor: not-allowed
}

.el-switch__label{
    transition: .2s;
    position: absolute;
    width: 46px;
    height: 22px;
    left: 0;
    top: 0;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none
}

.el-switch__label *{
    line-height: 1;
    top: 4px;
    position: absolute;
    font-size: 14px;
    display: inline-block;
    color: #fff
}

.el-switch__label--left i {
    left: 6px;
}

.el-switch__label--right i {
    right: 6px;
}

.el-switch__input{
    display: none
}

.el-switch__input:checked + .el-switch__core{
    border-color: #3388FF;
    background-color: #3388FF
}

.el-switch__core{
    margin: 0;
    display: inline-block;
    position: relative;
    width: 46px;
    height: 22px;
    border: 1px solid #DDDDDD;
    outline: none;
    border-radius: 12px;
    box-sizing: border-box;
    background: #DDDDDD;
    cursor: pointer;
    transition: border-color .3s, background-color .3s
}

.el-switch__core .el-switch__button{
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 100%;
    transition: transform .3s;
    width: 16px;
    height: 16px;
    background-color: #fff
}

.el-switch--wide .el-switch__label {}

.el-switch--wide .el-switch__label.el-switch__label--left span{
    left: 10px
}

.el-switch--wide .el-switch__label.el-switch__label--right span{
    right: 10px
}
:root{
    /* Transition [已修改]
  -------------------------- */
    /* Colors [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* color(var(--color-base-black) s(26%) l(80%)); 暂时忽略 */
    /* Link
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* Border [已修改]
  -------------------------- */
    /* Box-shadow [已修改]
  -------------------------- */
    /* Fill [已修改]
  -------------------------- */
    /* Font [已修改]
  -------------------------- */
    /* Size [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* z-index [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* Disable base [已修改]
  -------------------------- */
    /* Icon [已修改]
  -------------------------- */
    /* Checkbox [已修改]
  -------------------------- */
    /* Radio [已修改]
  -------------------------- */
    /* Select [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* Alert [已修改]
  -------------------------- */
    /* Message Box [已修改]
  -------------------------- */
    /* Message [后续修改（关闭图标太大）]
  -------------------------- */
    /* Notification [后续修改（关闭图标太大）]
  -------------------------- */
    /* Input [已修改]
  -------------------------- */
    /* 疑似废弃 */
    /* 疑似废弃 */
    /* Cascader [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* Group [暂时忽略]
  -------------------------- */
    /* Tab [已修改]
  -------------------------- */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* 疑似废弃 */
    /* 暂时忽略 */
    /* 暂时忽略 */
    /* Button [已修改]
  -------------------------- */
    /* 疑似废弃 */
    /* 疑似废弃 */
    /* 疑似废弃 */
    /* Switch [已修改]
 -------------------------- */
    /* Dialog [后续修改（关闭图标太大）]
 -------------------------- */
    /* Table [已修改]
 -------------------------- */
    /* Pagination [已修改]
 -------------------------- */
    /* Popover [已修改]
 -------------------------- */
    /* Tooltip [已修改]
  -------------------------- */
    /* Tag [已修改]
  -------------------------- */
    /* Dropdown [已修改]
  -------------------------- */
    /* Badge [已修改]
  -------------------------- */
    /* Card [已修改]
  --------------------------*/
    /* Slider [已修改]
  --------------------------*/
    /* Steps [已修改]
  --------------------------*/
    /* 暂时忽略 */
    /* Menu [暂时忽略]
  --------------------------*/
    /* Rate [暂时忽略]
  --------------------------*/
    /* DatePicker [暂时忽略]
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel [暂时忽略]
  --------------------------*/
    /* Collapse [已修改]
  --------------------------*/
}